@model VET.Site.Models.Animals.EditAnimalsViewModel
@{
    ViewData["Title"] = "Editar";
}

<div class="container-fluid">
    <!-- SELECT2 EXAMPLE -->
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Editar animal.</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <form method="post">
            <div class="card-body">


                @if (ViewData.ModelState[string.Empty]?.Errors?.Any() == true)
                {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body bg-red">
                        <div asp-validation-summary="ModelOnly"></div>
                    </div>
                </div>
            </div>}

                <input type="hidden" asp-for="Id" />

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Cliente</label>
                                <select class="form-control select2 " style="width: 100%;" id="CustomerValue" asp-for="CustomerId" data-live-search="true" title="Seleccione un cliente." asp-items="@(new SelectList(Model.Customers,"Id","Name"))"></select>
                                <label>
                                    <span class="right badge badge-danger " asp-validation-for="CustomerId"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Cedula Mascota</label>
                            <input asp-for="IdentificationCard" class="form-control" />
                            <label>
                                <span class="right badge badge-danger " asp-validation-for="IdentificationCard"></span>
                            </label>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input asp-for="Name" class="form-control" />
                            <label>
                                <span class="right badge badge-danger " asp-validation-for="Name"></span>
                            </label>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Raza</label>
                            <input asp-for="Race" class="form-control" />
                            <label>
                                <span class="right badge badge-danger " asp-validation-for="Race"></span>
                            </label>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Sexo</label>
                                <select class="form-control select2 " style="width: 100%;" id="SexValue" asp-for="SexId" data-live-search="true" title="Seleccione un sexo." asp-items="@(new SelectList(Model.Sexes,"Id","Description"))"></select>
                                <label>
                                    <span class="right badge badge-danger " asp-validation-for="SexId"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Tipo animal</label>
                                <select class="form-control select2 " style="width: 100%;" id="TypeAnimalValue" asp-for="TypeAnimalId" data-live-search="true" title="Seleccione un tipo de animal." asp-items="@(new SelectList(Model.TypeAnimals,"Id","Description"))"></select>
                                <label>
                                    <span class="right badge badge-danger " asp-validation-for="TypeAnimalId"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Unidad medida</label>
                                <select class="form-control select2 " style="width: 100%;" id="UnitMeasurementValue" asp-for="UnitMeasurementId" data-live-search="true" title="Seleccione una unidad." asp-items="@(new SelectList(Model.UnitMeasurements,"Id","Description"))"></select>
                                <label>
                                    <span class="right badge badge-danger " asp-validation-for="UnitMeasurementId"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Peso</label>
                            <input asp-for="Weight" type="number" class="form-control" />
                            <label>
                                <span class="right badge badge-danger " asp-validation-for="Weight"></span>
                            </label>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ultima visita</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input asp-for="LastVisit" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                            <label>
                                <span class="right badge badge-danger " asp-validation-for="LastVisit"></span>
                            </label>
                            <!-- /.input group -->
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <input asp-for="Observations" class="form-control" />
                            <label>
                                <span class="right badge badge-danger " asp-validation-for="Observations"></span>
                            </label>

                        </div>
                    </div>

                </div>


            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <div align="right">
                    <a href="#confirm" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#confirm">Guardar cambios</a>
                </div>
                <div class="modal fade" id="confirm" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="defaultModalLabel">Editar Entradas</h4>
                            </div>
                            <div class="modal-body">
                                ¿Desea editar el Entradas?
                            </div>
                            <div class="modal-footer">
                                <input type="submit" id="submitbutton" value="Guardar cambios" data-disableonclick="true" class="btn btn-primary waves-effect" />
                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <!-- /.card -->
</div>

@section scripts {
    <script>
$(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
        });
    </script>
}