@page
@model LogoutModel
@{
    ViewData["Title"] = "Cerrar sesión";
}

<div class="login-logo">
    <a><b>ITIL</b>SI</a>
</div>
<!-- /.login-logo -->
<div class="card">
    <div class="card-body login-card-body">
        <header>
            <h1>@ViewData["Title"]</h1>
            <p class="login-box-msg">Ha cerrado la sesión correctamente de la aplicación.</pclass="login-box-msg">
        </header>
    </div>
    </div>
       
